body { 
    margin: 0;
}


.grid {
    display: flex;
    display: grid;
    grid-template-columns: repeat(5,1Fr);
    grid-template-rows: repeat(5,1Fr);
    height: 100dvh;
}

.case {
    grid-column: 1/4;
    grid-row: 1/3;
    background-color: aqua;
}

.caseA {
    grid-column: 2/4;
    grid-row: 3/5;
    background-color: #0026ff;
}

.caseB {
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: black;
}

.caseC {
    grid-column: 4/6;
    grid-row: 5/6;
    background-color: brown;
}

.caseD {
    border-radius: 50%;
    grid-column: 4/6;
    grid-row: 1/3;
    background-color: darkgreen;
}